/* "padding-top:" en "body" establece la posición correcta del elemento ubicado debajo de la "navbar" para ello definimos la misma cantidad de pixeles de la altura de la "navbar" */
body {
  padding-top: 56px;
}

/* jumbotron  */
/* .jumbotron-top .jumbotron {
  background-color: #8fca00;
} */
/* jumbotron  */

/* carousel style */
.content-info-slide.carousel-caption {
  right: 20%;
  left: 20%;
  bottom: 15px;
}

p.info-slide {
  background-color: #331f289c;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
/* carousel style */

/* card product style */
.product .rowproduct {
  margin-right: -10px;
  margin-left: -10px;
}

.product .rowproduct .colproduct {
  padding: 10px;
}

.colproduct .card .card-header {
  /* background-color: #aad501; */
  color: #fff;
}

.colproduct .card .card-body .btn {
  background-color: #a9abb1;
}

.colproduct .card .card-body .btn:hover {
  background-color: #93959b;
}

/* card product style */

/* pill styles */
/* Color texto "pill" inactivo */
.nav-pills .nav-item .link-prices {
  color: #343a40;
}

/* Hover texto "pill" inactivo */
.nav-pills .nav-item .link-prices:hover {
  color: #007bff;
}

/* Color fondo y texto "pill" activo */
.nav-pills .nav-item .link-prices.active {
  color: #ffffff;
  background-color: #6c757d;
}
/* pill styles */

/* price table style */
.fa-star {
  color: #5f5f5f;
}
/* price table style */

/* form style */
.for-com {
  padding-bottom: 30px;
}
/* form style */

/* accordion contact style */
#accordionContacto .card {
  margin-bottom: 0.125rem;
  border: none;
}

#accordionContacto .card .card-header {
  background-color: #aad501;
  border: none;
}

#accordionContacto .card .card-header .btn {
  color: #fff;
}

#accordionContacto .card .card-header .btn:focus {
  box-shadow: none;
  color: #007bff;
}

#collapseTramite .card-body a {
  background-color: #aad501;
}

#collapseTramite .card-body a:hover {
  background-color: #b1dd00;
}
/* accordion contact style */

/* modal style */
/* .a-virtual .btn {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.a-virtual .btn:hover,
.a-virtual .btn:focus,
.a-virtual .btn:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
} */

.chat-btn {
  width: 61px;
  height: 60px;
}

.fa-commenting-o {
  color: #fff;
}

.center-modal {
  padding: 0.5rem;
}

.center-modal .modal-dialog {
  max-width: 420px;
  margin: 1.75rem auto;
}

@media (max-width: 576px) {
  .center-modal .modal-dialog {
    margin: auto;
  }
}

.modal-footer .send-Message {
  background-color: #aad501;
  color: #fff;
}

.modal-footer .send-Message:hover {
  background-color: #b1dd00;
  color: #fff;
}

.modal-footer .send-Message:hover,
.modal-footer .send-Message:focus,
.modal-footer .send-Message:active {
  box-shadow: none;
}
/* modal style */

/* footer style */
/* .footer {
  background-color: #343a40;
} */

.social {
  margin-bottom: 40px;
}

.social-link {
  /* color: #dfdfdf; */
  color: #3b3b3b;
  margin: 0 15px;
}

.social-link .fa-facebook:hover {
  color: #466ab8;
}

.social-link .fa-youtube-square:hover {
  color: #f30d0d;
}

.social-link .fa-instagram:hover {
  color: #ff0084;
}

.social-link .fa-twitter:hover {
  color: #55acee;
}

.main-info {
  margin-bottom: 40px;
}

.main-info-link {
  /* color: #dfdfdf; */
  color: #3b3b3b;
  margin: 5px;
}

.address-info {
  /* color: #dfdfdf; */
  color: #3b3b3b;
  margin-bottom: 40px;
}

.Copy {
  color: #3a3a3a;
  font-size: 13px;
  margin: 20px 0 5px;
}
/* footer style */
