/* jumbotron  */
.jumbotron-top .jumbotron {
  background-color: #8fca00; }

/* card header */
.colproduct .card .card-header {
  background-color: #a8122b; }

/* footer */
.footer {
  background-color: #e6e600; }

/* button collapse */
.content-btn-collapse .btn-collapse {
  background-color: #6c757d;
  color: #ffffff;
  margin-top: 6px;
  padding: 8px; }
