$yellow: #e6e600;
$red: #a8122b;
$green: #8fca00;

@mixin btn-gray {
	background-color: #6c757d;
	color: #ffffff;
	margin-top: 6px;
	padding: 8px;
}

/* jumbotron  */
.jumbotron-top .jumbotron {
	background-color: $green;
}
/* card header */
.colproduct .card .card-header {
	background-color: $red;
}
/* footer */
.footer {
	background-color: $yellow;
}
/* button collapse */
.content-btn-collapse .btn-collapse {
	@include btn-gray;
}
